name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    ci:
        runs-on: ubuntu-latest
        services:
          postgres:
            image: postgres:alpine
            env:
              POSTGRES_DB: taskmanagement
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: postgres
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5
            ports:
              - 5432:5432
        steps:
            - uses: actions/checkout@v5

            - name: Install dependecies
              run: npm run install:all
              
            - name: Backend lint
              working-directory: ./backend
              run: npm run lint:fix
            
            - name: Build backend
              working-directory: ./backend
              run: npm run build

            - name: Backend Tests
              working-directory: ./backend
              run: npm run test

            - name: Frontend lint
              working-directory: ./frontend
              run: npm run lint

            - name: Frontend Tests
              working-directory: ./frontend
              run: npm run test            

